.SideBarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #213F7D;
    font-weight: 400;
    .BigNavcontainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: .2rem .5rem;
        .Navcontainer{
            display: flex;
            gap: 1rem;
            align-items: center;
            width: 70%;
        }
    }
}