.active{
    background-color: #ebf4ed;
    color: #39CD62;
    font-weight: 500;
    border-radius: .52rem;
    padding: 0 1rem;
}
.inActive{
    background-color: #545F7D;
    color: #545F7D;
    font-weight: 600;
    border-radius: .52rem;
    padding: 0 1rem;
}