.container{
    padding: 2rem 1.5rem;
    .userContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        .userContainerTitle{
            color: #213F7D;
            font-weight: 700;
            font-size: 1.5rem;
        }
        .userCardImage1{
            background-color: #dbbee0;
            border-radius: 30%;
            width: 30px;
            height: 30px;
            align-items:center ;
            display: flex;
            justify-content: center;
        }
        .userCardImage2{
            background-color: #a999d3;
            border-radius: 30%;
            width: 30px;
            height: 30px;
            align-items:center ;
            display: flex;
            justify-content: center;
        }
        .userCardImage3{
            background-color: #f1b5ab;
            border-radius: 30%;
            width: 30px;
            height: 30px;
            align-items:center ;
            display: flex;
            justify-content: center;
        }
        .userCardImage4{
            background-color: #e4b2be;
            border-radius: 30%;
            width: 30px;
            height: 30px;
            align-items:center ;
            display: flex;
            justify-content: center;
        }
        .cardContainer{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            gap: 2rem;
            .card{
                background-color: #fff;
                width: 22%;
                height: 150px;
                padding: 2rem 2rem;
                box-shadow: 0px 0px 10px 2px rgb(212, 210, 210);
                p{
                   color: #213F7D;
                   font-weight: 500;
                }
                .cardNumber{
                    font-weight: 700;
                }
            }
        }
    }
}