.container{
    padding: 2rem 2rem;
    .userContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        .cardContainer{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            gap: 2rem;
            .card{
                background-color: #fff;
                width: 22%;
                height: 150px;
                padding: 2rem 2rem;
                box-shadow: 0px 0px 10px 2px rgb(212, 210, 210);
                p{
                   color: #213F7D;
                   font-weight: 500;
                }
                .cardNumber{
                    font-weight: 700;
                }
            }
        }
    }
}