.layoutContainer{
    .Navbar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .Main{
        margin-top: 18vh;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        // height: 88vh;
        .SideBar{
            width: 20%;
            position: fixed;
            padding:4px;
            text-align:justify;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .Children{
            background-color: #E5E5E5;
            height: 100%;
            width: 80%;
            margin-left: 20%;
        }
    }
}