.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo{
        position: absolute;
        top: 3vh;
        left: 3vw;
    }
    .section1{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        .heading{
            font-weight: 700;
            font-size: 1.5rem;
            color: #213F7D;
        }
        .heading2{
            font-size: 1.2rem;
            font-weight: 600;
            span{
                color: #39CDCC;
            }
        }
        .linkHeading{
            // font-weight:;
            text-decoration: underline;
        }
        .NavItems{
            display: flex;
            align-items: center;
            gap: 2rem;
            color: #213F7D;
            .Nav{
                border: 1px solid #b7e6e6;
                border-radius: 5px;
                padding: 1rem;
                cursor: pointer;
                transition: all .5s ease-in-out;
                &:hover{
                    background-color: #b7e6e6;
                }
                    
                }
            }
        }
    }










// portfolio page

.portfolioContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .projects{
        border-top: 1px solid #213F7D;
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: center;
        .projectCard{
            border: 1px solid #213F7D;
            margin: 2rem 0;
            padding: 2rem;
            border-radius: 8px;
            width: 50%;
            &:hover{
                box-shadow: 0px 0px 10px 2px rgb(111, 184, 208);
                scale: 1.06;
                transition: all .2s;
            }
            .projectLink{
                font-size: 1.3rem;
                font-weight: 600;
                color: #39CDCC;
                cursor: pointer;
                text-decoration: underline;
            }
            .projectDesc{
                max-width: 90%;
                text-align: center;
                font-weight: 400;
                color: #213F7D;
            }

        }
        .cv{
            border: 1px solid #080c13;
            cursor: pointer;
            padding: .3rem;
            &:hover{
                box-shadow: 0px 0px 10px 2px rgb(111, 184, 208);
                scale: 1.03;
            }
        }
    }
}










































